# Dependencies are listed in RagApplication/requirements.txt
#
# From this directory (repo root):
#   pip install -r RagApplication/requirements.txt
#
# Run the app:
#   python -m RagApplication
#
# See RagApplication/README.md
